@media (max-width: 80em) {
  .d-xl-none {
    display: none;
  }

  .d-xl-block {
    display: block;
  }

  .d-xl-flex {
    display: flex;
  }

  .d-xl-grid {
    display: grid;
  }

  /*------------------------------------------------------------- index*/
  .wrapper {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .footer {
    padding: 1.875rem 0;
  }
  .footer-logo img {
    height: 80px;
  }
  .footer-info {
    font-size: 0.875rem;
    color: #000;
    padding: 10px 0;
    border-bottom: 0;
    border-top: 0;
  }
  .footer-info-left {
    margin-bottom: 1.875rem;
  }
  .footer-info-right {
    margin-bottom: 0.625rem;
    text-align: left;
  }
  .footer-caution {
    font-size: 0.875rem;
    color: #000;
    padding: 0;
    text-align: left;
    line-height: 1.375rem;
    margin-bottom: 1.25rem;
  }

  .register-email__group {
    max-width: 240px;
    margin: auto;
  }
  .register-email__btn {
    background-color: #eb242c;
  }
}
@media (max-width: 64em) {
  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-grid {
    display: grid;
  }

  .wrapper {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .ads-center {
    background: transparent;
    box-shadow: unset;
    padding: 0;
  }

  .section-tertiary__inner .swiper-button-next,
.section-tertiary__inner .swiper-rtl .swiper-button-prev {
    right: 0;
  }
  .section-tertiary__inner .swiper-button-prev,
.section-tertiary__inner .swiper-rtl .swiper-button-next {
    left: 0;
  }

  .detail-content .detail-title {
    margin-bottom: 1.25rem;
  }
  .detail-content .detail-time-public {
    margin-bottom: 1.25rem;
    line-height: 160%;
  }

  .detail-tags {
    flex-wrap: nowrap;
  }

  .realated-news__container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.625rem;
  }
  .realated-news__container .article {
    border-bottom: none;
  }
  .realated-news__container .article__content {
    padding-top: 0.625rem;
  }
  .realated-news__container .article__title {
    font-size: 1rem;
  }

  .other-news__container .article {
    padding: 0.9375rem 0;
  }
  .other-news__container .article:first-child {
    padding-top: 0;
  }
  .other-news__container .article__title {
    font-size: 1rem;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }
  .other-news__container .article__des, .other-news__container .time-public {
    display: none;
  }
}
@media (max-width: 48em) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-grid {
    display: grid;
  }

  .section-tertiary__swiper .article {
    gap: 30px;
  }

  .section-tertiary__inner {
    padding: 30px;
  }
  .section-tertiary__inner .article__title {
    font-size: 1.5rem;
  }
}
@media (max-width: 40em) {
  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-grid {
    display: grid;
  }

  .section-tertiary__inner {
    padding: 30px 20px;
  }
  .section-tertiary__inner .article__img {
    width: 100%;
  }
  .section-tertiary__inner .article__content {
    padding-top: 1.875rem;
  }
  .section-tertiary__inner .swiper-button-next,
.section-tertiary__inner .swiper-rtl .swiper-button-prev,
.section-tertiary__inner .swiper-button-prev,
.section-tertiary__inner .swiper-rtl .swiper-button-next {
    top: 25%;
  }

  .heading-primary {
    justify-content: center;
  }

  .section-secondary .container-secondary {
    grid-template-columns: 1fr;
  }
  .section-secondary .container-secondary .article__note {
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
  }
  .section-secondary .article__note-title {
    -webkit-line-clamp: 2;
  }

  .cate-primary {
    padding-left: 0;
    padding-right: 0;
  }

  .cate-primary__note {
    padding-top: 1.875rem;
  }
  .cate-primary__note .article__note-title {
    font-size: 2.25rem;
  }

  .cate-primary__container .article__note {
    width: 300px;
    height: 300px;
  }

  .cate-primary__container {
    border-radius: 0;
  }

  .radio-control-inner {
    margin-bottom: 1.25rem;
  }

  .wave-wrapper {
    display: none;
  }

  .radio-control {
    display: block;
  }

  .radio-control-secondary .article__title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }

  .radio-reload {
    justify-content: center;
    padding-top: 0.625rem;
  }

  .cate-primary__list {
    padding-right: 0;
    max-width: 100%;
    max-height: 600px;
  }
  .cate-primary__list .article__img {
    width: 35%;
  }
  .cate-primary__list .article__content {
    padding-left: 0.75rem;
  }

  .radio-time-range {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.25rem;
  }
  .radio-time-range .radio-long {
    grid-column: 1/3;
    grid-row: 1;
  }
}

/*# sourceMappingURL=responsive.css.map */
